# ignore everything
*

# allow src
!/src
!/static

# allow entrypoint
!/entrypoint.sh

# allow package.json
!/package.json
!/pnpm-lock.yaml

# allow config
!/postcss.config.cjs
!/svelte.config.js
!/tsconfig.json
!/vite.config.js

# ignore unnecessary files inside allowed directories
**/.DS_Store
