{{template "base" .}}

{{define "title"}}Create new event{{end}}

{{define "header"}}Create new event{{end}}

{{define "main"}}
<div class="min-h-full justify-center flex">
    <div class="max-w-5xl w-full">
        <form action="/events/create" method="POST">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            {{with .Form}}
                <div class="shadow overflow-hidden sm:rounded-md">
                    <div class="px-4 py-5 bg-white sm:p-6">
                        <div x-data="{}" class="grid grid-cols-6 gap-6">
                            <div class="col-span-6">
                                <label for="artist" class="label-primary">Artists</label>
                                {{with .Errors.Get "artist"}}
                                    {{template "error" .}}
                                {{end}}

                                {{range $i := N 0 3 }}
                                    {{if eq $i 0}}
                                        <select x-ref="artist_{{$i}}" name="artist" autocomplete="artist-name" class="input-primary rounded-r-none">
                                    {{else}}
                                        <select x-ref="artist_{{$i}}" name="artist" autocomplete="artist-name" class="input-primary rounded-r-none mt-2">
                                    {{end}}
                                        {{$oldArtistID := (getArtistIdFromForm $.Form $i )}}
                                        {{if eq $oldArtistID -1}}
                                            {{if eq $i 0}}
                                                <option disabled hidden selected value="">---</option>
                                            {{else}}
                                                <option selected value="">---</option>
                                            {{end}}
                                        {{else}}
                                            {{if eq $i 0}}
                                                <option disabled hidden value="">---</option>
                                            {{else}}
                                                <option disabled hidden value="">---</option>
                                            {{end}}
                                        {{end}}

                                        {{range $i, $artist := $.Artists}}
                                            {{if eq $artist.ID $oldArtistID}}
                                                <option value="{{$artist.ID}}" selected>{{$artist.Name | title}}</option>
                                            {{else}}
                                                <option value="{{$artist.ID}}">{{$artist.Name | title}}</option>
                                            {{end}}
                                        {{end}}
                                    </select>
                                {{end}}
                            </div>

                            <div class="col-span-6 sm:col-span-2">
                                <label for="venue" class="label-primary">Venue</label>
                                {{with .Errors.Get "venue"}}
                                    {{template "error" .}}
                                {{end}}
                                <select x-ref="venue" name="venue" autocomplete="venue" class="input-primary">
                                    {{if not ($.Form.Get "venue")}}
                                        <option hidden disabled selected value="">---</option>
                                    {{end}}
                                    {{range $i, $venue := $.Venues}}
                                        {{if $.Form.Get "venue"}}
                                            {{if eq $venue.ID ($.Form.Get "venue" | toInt)}}
                                                <option value="{{$venue.ID}}" selected>{{$venue.Name | title}}</option>
                                            {{else}}
                                                <option value="{{$venue.ID}}">{{$venue.Name | title}}</option>
                                            {{end}}
                                        {{else}}
                                            <option value="{{$venue.ID}}">{{$venue.Name | title}}</option>
                                        {{end}}
                                    {{end}}
                                </select>
                            </div>

                            <div x-data="{name: '{{.Get "name"}}'}" class="col-span-6 sm:col-span-4">
                                <label for="name" class="label-primary">Event Name</label>
                                {{with .Errors.Get "name"}}
                                    {{template "error" .}}
                                {{end}}
                                <div class="relative">
                                    <input x-model="name" type="text" name="name" autocomplete="event-name" class="input-primary" value='{{.Get "name"}}'>
                                    <div class="text-right">
                                        <button x-on:click="name = $refs.artist_0.options[$refs.artist_0.selectedIndex].text +
                                                                   ($refs.artist_1.selectedIndex ? ' + ' + $refs.artist_1.options[$refs.artist_1.selectedIndex].text : '') +
                                                                   ' @ ' + $refs.venue.options[$refs.venue.selectedIndex].text"
                                        type="button" class="btn-submit-inline">Auto</button>
                                    </div>
                                </div>
                            </div>

                            <fieldset class="col-span-6">
                                <div>
                                    <legend class="label-primary">Event type</legend>
                                    {{with .Errors.Get "type"}}
                                        {{template "error" .}}
                                    {{end}}
                                </div>
                                <div class="mt-4 space-y-4">
                                    <div class="flex items-center">
                                        <input name="type" type="radio" value="concert" checked class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                        <label for="concert" class="ml-3 label-primary"> Concert </label>
                                    </div>
                                    <div class="flex items-center">
                                        <input name="type" type="radio" value="festival" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                        <label for="festival" class="ml-3 label-primary"> Festival </label>
                                    </div>
                                    <div class="flex items-center">
                                        <input name="type" type="radio" value="film" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                        <label for="film" class="ml-3 label-primary"> Film </label>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="col-span-6 sm:col-span-3">
                                <label for="" class="label-primary">Date</label>
                                {{with .Errors.Get "date"}}
                                    {{template "error" .}}
                                {{end}}
                                <input type="date" name="date" class="input-primary" value='{{.Get "date"}}'>
                            </div>

                            <div class="col-span-6 sm:col-span-3">
                                <label for="" class="label-primary">Duration (in days)</label>
                                {{with .Errors.Get "duration"}}
                                    {{template "error" .}}
                                {{end}}
                                <input type="number" name="duration" value="1" class="input-primary" value='{{.Get "duration"}}'>
                            </div>
                        </div>

                        <div class="text-right mt-5">
                            <button type="submit" class="btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            {{end}}
        </form>
    </div>
</div>
{{end}}
