{{template "base" .}}

{{define "title"}}Events{{end}}

{{define "header"}}Events{{end}}

{{define "main"}}
    {{if .IsAuthenticated}}
        <button class="btn-primary">Add new event</button>
    {{end}}

    <div class="mt-4">
        {{range $id, $event := .Events}}
            <div>{{$event.Name | title}}, {{$event.Type}}, {{$event.CreatedAt}}, {{$event.StartAt}}, {{$event.EndAt}}, {{$event.Cancelled}}</div>
        {{end}}
    </div>

    {{with .Metadata}}
        {{template "pagination" .}}
    {{end}}
{{end}}
