{{define "pagination"}}
    <div class="flex flex-col items-center mt-3">
        <span class="text-sm text-gray-700">
            Showing <span class="font-semibold text-gray-900">{{. | metadataToStartRange}}</span> to <span class="font-semibold text-gray-900">{{. | metadataToEndRange}}</span> out of <span class="font-semibold text-gray-900">{{.TotalRecords}}</span> total
        </span>

        <nav aria-label="Page navigation">
            <ul class="inline-flex items-center mt-2 -space-x-px">
                <li>
                    <a href="?page={{. | metadataToPrevPage}}" class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                        <span class="sr-only">Previous</span>
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                    </a>
                </li>

                {{$pages := . | metadataToPages}}
                {{range $i, $page := $pages}}
                    <li>
                        {{if eq $page $.CurrentPage}}
                            <a aria-current="page" class="py-2 px-3 text-blue-600 bg-blue-50 border border-gray-300 hover:bg-blue-100 hover:text-blue-700">{{$page}}</a>
                        {{else}}
                            <a href="?page={{$page}}" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{$page}}</a>
                        {{end}}
                    </li>
                {{end}}

                <li>
                    <a href="?page={{. | metadataToNextPage}}" class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                        <span class="sr-only">Next</span>
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{{end}}
