{{template "base" .}}

{{define "title"}}Sign up{{end}}

{{define "header"}}Sign up{{end}}

{{define "main"}}
    <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div>
                <img class="mx-auto h-12 w-auto" src="/static/img/favicon-180.png" alt="Sersophane">
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Create a new account</h2>
            </div>
            <form class="mt-8 space-y-6" action="/user/signup" method="POST" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                {{with .Form}}
                    <div class="rounded-md shadow-sm -space-y-px">
                        <div>
                            <label for="name" class="label-primary">Name</label>
                            {{with .Errors.Get "name"}}
                                {{template "error" .}}
                            {{end}}
                            <input name="name" type="text" autocomplete="name" class="input-primary" value='{{.Get "name"}}'>
                        </div>
                        <div>
                            <label for="email" class="label-primary mt-4">Email</label>
                            {{with .Errors.Get "email"}}
                                {{template "error" .}}
                            {{end}}
                            <input name="email" type="email" autocomplete="email" class="input-primary" value='{{.Get "email"}}'>
                        </div>
                        <div>
                            <label for="password" class="label-primary mt-4">Password</label>
                            {{with .Errors.Get "password"}}
                                {{template "error" .}}
                            {{end}}
                            <input name="password" type="password" class="input-primary">
                        </div>
                    </div>

                    <div class="w-full flex justify-center">
                        <button type="submit" class="btn-primary">
                            Sign up
                        </button>
                    </div>
                {{end}}
            </form>
        </div>
    </div>
{{end}}
