{{template "base" .}}

{{define "title"}}Venues{{end}}

{{define "header"}}Venues{{end}}

{{define "main"}}
    {{if .IsAuthenticated}}
        <div x-data='{ open: {{if .Form.Errors}}true{{else}}false{{end}} }'>
            <button @click="open = ! open" class="btn-primary">Add new venue</button>
            <div x-show="open" class="max-w-lg mt-4 shadow-md rounded-lg overflow-hidden">
                <div class="px-4 py-5 bg-white">
                    <form action="/venues/create" method="POST" novalidate>
                        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                        {{with .Form}}
                            <label for="name" class="label-primary">Name</label>
                            {{with .Errors.Get "name"}}
                                {{template "error" .}}
                            {{end}}
                            <input type="text" name="name" autocomplete="venue-name" placeholder="Truckstop Alaska" class="input-primary">

                            <label for="name" class="label-primary mt-4">City</label>
                            {{with .Errors.Get "city"}}
                                {{template "error" .}}
                            {{end}}
                            <input type="text" name="city" autocomplete="city" placeholder="Göteborg/Stockholm/Malmö..." class="input-primary">

                            <div class="text-right">
                                <button type="submit" class="btn-primary mt-4">OK</button>
                            </div>
                        {{end}}
                    </form>
                </div>
            </div>
        </div>
    {{end}}

    <div class="mt-4">
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
                    <div class="overflow-hidden shadow-md sm:rounded-lg">
                        <table class="min-w-full">
                            <thead class="bg-gradient-to-b from-gray-200 to-gray-300">
                                <tr>
                                    <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase">
                                        Name
                                    </th>
                                    <th scope="col" class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase">
                                        City
                                    </th>
                                    <th scope="col" class="relative py-3 px-6">
                                        <span class="sr-only">Edit</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range $i, $venue := .Venues}}
                                    <tr class="border-b odd:bg-white even:bg-gray-50">
                                        <td class="pl-6 text-sm font-medium text-gray-900 whitespace-nowrap">
                                            <a href="/venues/{{$venue.ID}}" class="hover:underline py-2.5 h-full w-40 inline-block">{{$venue.Name | title}}</a>
                                        </td>
                                        <td class="pl-6 text-sm font-medium text-gray-900 whitespace-nowrap w-full">
                                            {{$venue.City | title}}
                                        </td>
                                        <td class="py-3 px-6 text-sm font-medium text-right whitespace-nowrap">
                                            <!-- TODO something with auth and permissions to show -->
                                            <a href="#" class="text-blue-600 hover:underline">Edit</a>
                                        </td>
                                    </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{with .Metadata}}
        {{template "pagination" .}}
    {{end}}
{{end}}
