{{template "base" .}}

{{define "title"}}{{.Venue.Name}}{{end}}

{{define "header"}}{{.Venue.Name}}{{end}}

{{define "main"}}
    <div class="bg-white shadow overflow-hidden rounded-lg max-w-7xl">
        <div class="px-4 py-4 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Details</h3>
        </div>
        <div class="border-t border-gray-200">
            <dl>
                <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">Name</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3">{{.Venue.Name}}</dd>
                </div>
                <div class="bg-gray-50 px-4 py-4 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">City</dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3">{{.Venue.City}}</dd>
                </div>
            </dl>
        </div>
    </div>

    {{if .Events}}
        {{template "event_table" . }}

        {{with .Metadata}}
            {{template "pagination" .}}
        {{end}}
    {{end}}
{{end}}
