{{template "base" .}}

{{define "title"}}Venues{{end}}

{{define "header"}}Venues{{end}}

{{define "main"}}
    {{if .IsAuthenticated}}
        <div x-data='{ open: {{if .Form.Errors}}true{{else}}false{{end}} }'>
            <button @click="open = ! open" class="btn-primary">Add new venue</button>
            <div x-show="open" class="max-w-lg mt-4 shadow-md rounded-lg overflow-hidden">
                <div class="px-4 py-5 bg-white">
                    <form action="/venues/create" method="POST" novalidate>
                        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                        {{with .Form}}
                            <label for="name" class="label-primary">Name</label>
                            {{with .Errors.Get "name"}}
                                {{template "error" .}}
                            {{end}}
                            <div class="relative">
                                <input type="text" name="name" id="name" autocomplete="venue-name" class="input-primary">
                                <button type="submit" class="btn-submit-inline">OK</button>
                            </div>
                        {{end}}
                    </form>
                </div>
            </div>
        </div>
    {{end}}

    <div class="mt-4">
        {{range $id, $venue := .Venues}}
            <div>{{$venue.Name | title}}</div>
        {{end}}
    </div>
{{end}}
