/* ----------------------------------------------------------------------------
  variables/definitions/fonts
---------------------------------------------------------------------------- */
html {
	--text: #eee;
	--background-primary: #121214;
	--background-secondary: #212123;
	--background-tertiary: #29292a;
	--primary: #31af6e;
	--primary-hover: #45cb85;

	--main-spacing: 3rem 1rem 2rem 1rem;
	--header-footer-spacing: 2rem 1rem;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Inter-Regular.woff2?v=3.19') format('woff2'), url('/fonts/Inter-Regular.woff?v=3.19') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Inter-Italic.woff2?v=3.19') format('woff2'), url('/fonts/Inter-Italic.woff?v=3.19') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/Inter-Medium.woff2?v=3.19') format('woff2'), url('/fonts/Inter-Medium.woff?v=3.19') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/Inter-MediumItalic.woff2?v=3.19') format('woff2'), url('/fonts/Inter-MediumItalic.woff?v=3.19') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('/fonts/Inter-SemiBold.woff2?v=3.19') format('woff2'), url('/fonts/Inter-SemiBold.woff?v=3.19') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url('/fonts/Inter-SemiBoldItalic.woff2?v=3.19') format('woff2'), url('/fonts/Inter-SemiBoldItalic.woff?v=3.19') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/Inter-Bold.woff2?v=3.19') format('woff2'), url('/fonts/Inter-Bold.woff?v=3.19') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/Inter-BoldItalic.woff2?v=3.19') format('woff2'), url('/fonts/Inter-BoldItalic.woff?v=3.19') format('woff');
}
