@tailwind base;
@layer base {
	html {
		@apply text-zinc-300 bg-zinc-900;
	}

	body {
		@apply h-screen;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 4rem 1fr 3rem;
		grid-template-areas:
			'header'
			'main'
			'footer';
	}

	header {
		grid-area: 'header';
	}

	main {
		grid-area: 'main';

		@apply overflow-auto flex flex-col w-full max-w-6xl my-0 mx-auto p-2;
	}

	footer {
		grid-area: 'footer';

		@apply border-t-2 border-zinc-800;
	}

	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
	h3 {
		@apply text-lg;
	}

	a:hover,
	button:hover {
		@apply text-emerald-400;
	}

	a:focus,
	button:focus {
		@apply text-emerald-400;
	}
}

@tailwind components;

@tailwind utilities;
