/* ------------------------------------------------------------------------- */
/* variables */
/* ------------------------------------------------------------------------- */
:root {
	color-scheme: dark;

	/* brand */
	--brand: var(--blue-7);

	/* text */
	--text-1: var(--gray-1);
	--text-2: var(--gray-4);

	--link: var(--blue-7);
	--link-visited: var(--blue-7);

	/* surfaces */
	--surface-0: var(--gray-11);
	--surface-1: var(--gray-10);
	--surface-2: var(--gray-9);
	--surface-3: var(--gray-8);
	--surface-4: var(--gray-7);
	--surface-5: var(--gray-6);
	--scrollthumb-color: var(--gray-6);

	/* shadows */
	--shadow-strength: 10%;
	--shadow-color: 220 40% 2%;
}

/* ------------------------------------------------------------------------- */
/* basic stuff */
/* ------------------------------------------------------------------------- */
html {
	scrollbar-color: var(--scrollthumb-color) transparent;
	accent-color: var(--brand);
	caret-color: var(--brand);

	color: var(--text-2);
	background-color: var(--surface-2);
}

/* text color */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-1);
}

/* ------------------------------------------------------------------------- */
/* misc. tweaks */
/* ------------------------------------------------------------------------- */

/* disable focus-visible outline */
:focus-visible {
	outline: none;
}

/* pointer cursor */
a[href],
button,
input,
label[for],
select {
	cursor: pointer;
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
}

/* ------------------------------------------------------------------------- */
/* links */
/* ------------------------------------------------------------------------- */
a[href] {
	color: var(--brand, var(--link));
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:focus-visible {
		text-decoration: underline;
	}
}

/* ------------------------------------------------------------------------- */
/* inputs */
/* ------------------------------------------------------------------------- */
input[type='text'] {
	padding: var(--size-2);

	color: var(--text-1);

	background-color: var(--gray-10);
	border: var(--border-size-2) solid var(--surface-3);
	border-radius: var(--radius-2);

	transition: background-color 0.5s var(--ease-3), outline-offset 145ms var(--ease-2);

	&:is(:hover, :focus-within) {
		background-color: var(--surface-0);
	}

	/* invalid input animation */
	&:not(:placeholder-shown):invalid:not(:focus) {
		animation: var(--animation-shake-x);
		animation-duration: 0.4s;
	}
}

/* autofill stuff, not sure if needed */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--text-1);
	-webkit-box-shadow: 0 0 0px 1e5px var(--gray-11) inset;
	transition: background-color 5000s ease-in-out 0s;
}

/* input placeholder */
::placeholder {
	color: var(--surface-4);
	font-style: italic;
}

/* ------------------------------------------------------------------------- */
/* buttons */
/* ------------------------------------------------------------------------- */
button,
button[type],
input[type='button'],
input[type='submit'],
input[type='reset'] {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: var(--size-2);

	padding: var(--size-2) var(--size-3);

	color: var(--text-1);
	font-weight: var(--font-weight-5);

	background: var(--surface-4);
	border: var(--border-size-2) solid var(--surface-3);
	border-radius: var(--radius-2);

	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;

	transition: border-color 0.5s var(--ease-3) 3s, box-shadow 145ms var(--ease-4);

	/* highlight/shadow stuff */
	--_highlight-size: 0;
	--_highlight: hsl(var(--gray-12-hsl) / 25%);
	box-shadow: var(--shadow-2), 0 1px var(--surface-3), 0 0 0 var(--_highlight-size) var(--_highlight);

	&:not(:active):hover {
		--_highlight-size: var(--size-1);
		transition-delay: 0s;
		transition-duration: 0.25s;
	}
}
